.carrier-info-top{
    margin-bottom: 40px;
}

.carrier-type h6 {
    padding-left: 24px;
}

.carrier-contract label {
    padding-right: 20px;
}
.carrier-contract input {
    margin-right: 5px;
}

.add-btn {
    text-align: right;
}

.carrier-info, .route {
    border: 1px solid #dfe4e8;
    border-radius: 10px;
    padding: 15px;
    margin-top: 40px;
    box-shadow: 15px 15px 30px rgb(0 0 0 / 15%);
}

.btn-block {
    margin-top: 20px;
    text-align: center;
}

.btn-block-item {
    text-decoration: none;
    padding: 10px;
    width: 35%;
    margin: 20px 30px;
}

.btn-block-item:hover {
    transform: scale(1.05);
}

.modal-body input {
    margin-bottom: 15px;
}