.request-header {
    margin-bottom: 10px;
}

.request-header span {
    font-size: 30px;
    font-weight: 400;
}


.request-header-active {
    padding: 5px 10px;
    margin: 0 10px;
}

.request-header-active:hover {
    background-color: rgba(145, 158, 171, 0.12);
    border-radius: 10px;
    cursor: pointer;
}

.request-active {
    font-size: 35px !important;
    font-weight: 500 !important;
    background-color: rgba(145, 158, 171, 0.12);
    border-radius: 10px
}

.request-checkbox {
    text-align: center;
}
.request-form-item {
    margin: 10px 0;
}

.date-request {
    margin: 10px 0;
    padding: 0;
}

.city-request {
    margin: 10px 0;
    padding: 0;
}

.price-request {
    margin: 10px 0;
    padding: 0;
}

.weight-size-request {
    margin: 10px 0;
    padding: 0;
}

.btn-block button {
    width: 80%
}